body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 70px;
  height: 70px;
  background: #334155;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card.open {
  background: #22c55e;
  color: black;
}
